:root {
  margin: 0;
  padding: 0;
  
  --primary-50: #f9efea;
  --primary-100: #88281c;
  --primary-200: #68943c;
  --light-green: #dfffbe;
  --primary-500: #266c62;
  --secondary-300: #84d2c5;
  --secondary-500: #d2431b;
  --color: #c4ede6;
  --h5-size: 1.563rem;

  --gradient: linear-gradient (25deg,
      rgba(1, 115, 115, 1) 0%,
      rgba(170, 217, 209, 1) 100%);
}
body{
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-50);
}

.h1 {
  font-family: "poppins";
  font-size: 3.815rem;
  line-height: 106%;
  letter-spacing: -3px;
  margin: 0px;
}

.h2 {
  font-family: "poppins";
  font-size: 3.052rem;
  line-height: 120%;
  letter-spacing: 3px;
  margin: 0px;
}

.h3 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 2.441rem;
  line-height: 120%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.h4 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.953rem;
  line-height: 120%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.h5 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.563rem;
  line-height: 140%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.h6 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.large-text {
  font-family: "poppins";
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.small-text {
  font-family: "poppins";
  font-size: 0.8rem;
  line-height: 140%;
  letter-spacing: -0.64px;
  margin: 0px;
}
